<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Status</th>
      <th>Hostname</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if @hosts.empty? %>
      <td colspan="3">
        No matching records found
      </td>
    <%end%>

    <% @hosts.each do |h| %>
    <% if @watched.include?(h.cn) %>
      <tr>
        <% if @hrun.include?(h.cn) %>
            <td class="span1">
              <div class="text-center">
                <button class="btn btn-mini btn-success disabled" type="button">On</button>
              </div>
            </td>
          <% else %>
            <td class="span1">
              <div class="text-center">
                <button class="btn btn-mini btn-danger disabled" type="button">Off</button>
              </div>
            </td>
          <% end %>
        </div>

        <td><%= h.cn %></td>
        <td class="span1"> 
          <div class="text-center">
            <%= link_to '', start_condors_path(h.cn), :class => 'icon-play' %>
            <%= link_to '', stop_condors_path(h.cn),:class => 'icon-stop' %>
          </div>
        </td>
      </tr>
<%end%>
    <%end%>

  </tbody>
</table>