<div class="navbar navbar-fixed-bottom">
  <div class="container">
    <% debug(params) if Rails.env.development? %>
  </div>
  <ul class="nav pull-right">
		<a href="https://github.com/rudicba/sayri">Sayri</a> by Rodolfo E. Edelmann
	</ul>
</div>
